{% extends "base.html" %}
{% block content %}

{% if song_results %}
	{% for song in song_results['song'] %}
		
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading clickable" data-toggle="collapse" data-target="#rel{{ loop.index }}" href="#rel{{ loop.index }}">
					<div class="row">
						<div class="col-md-2">
							{% if song['image'] %}
								<img src={{ song['image'] }} width=75 height=75>
							{% else %}
								<img src={{ url_for('static', filename='album-art-missing.png') }} width=75 height=75>
							{% endif %}
						</div>
						<div class="col-md-10">
								<h4 class="panel-title">
									{{ album_title }}
								</h4>
								<ul> 
									<li>Release Date: {{ song['release_date'] }}
									{% for label in song['labels'] %}
									<li>Label: {{ label }}</li>
									{% endfor %}
									{% for format in song['formats'] %}
									<li>Format: {{ format }}</li>
									{% endfor %}
								</ul>
						</div>		
					</div>
				</div>
				<div id="rel{{ loop.index }}" class="panel-collapse collapse">
					<div class="panel-body">	
						<div class="row">
							<div>
								<ul class="list-group">
									{% for track in song['tracks'] %}
									<li class="list-group-item">
										{{ track['number'] }}. {{ track['recording']['title'] }}
										{% if track['recording']['artist-relation-list'] is defined %}
											<ul>
												{% for person in track['recording']['artist-relation-list'] %}
												<li>{{ person['type'] }} : {{ person['artist']['name'] }}</li>
												{% endfor %}
											</ul>
										{% else %}
											Whoops! Looks like some info is missing. If you are obliged you can fill it in at <a href="http://musicbrainz.org">MusicBrainz.org.</a>
										{% endif %}
									</li>
								{% endfor %}
								</ul>
							</div>
						</div>
					</div>	
				</div>			
			</div>
		</div>
	</div>
		{% endfor %}
	
	{% else %}
			<li><em>Unbelievable. No entries here so far</em>
	{% endif %}
	</ul>
{% endblock %}}