{% extends "search/base.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}
		<form method="POST" action="." accept-charset="UTF-8" role="form">
			{{ form.csrf_token }}
			{{ render_field(form.artist_query, placeholder="Artist",
                                  autofocus="") }}
      		{{ render_field(form.recording_query, placeholder="Recording") }}
		      <button type="submit" name="submit">Search</button>
    	</form>
{% if 'search_results' in session %}
	{% if session.search_results.artists %}
	<h3> Artists</h3>
		<ul>
	{% for artist in session.search_results['artists']['artist-list'] %}
		
			<li><a href="{{ url_for('search.return_artists', artist_id=artist.id, artist_title=artist.name) }}">{{ artist.name }}</a>
				{% if 'begin-area' in artist %}
					{{ artist['begin-area']['name'] }},
				{% endif %}
				{% if artist['country'] %}
				{{ artist['country']}}
				{% endif %}
				{% if artist['life-span']['begin'] is defined %}
					{{ artist['life-span']['begin'] }}
				{% endif %}
				{% if artist['life-span']['ended'] == 'false' %} 
				 - now
				 {% else %}
					- {{ artist['life-span']['ended']}}
				{% endif %}

			</li>

		
	{% endfor %}
		</ul>
	{% endif %}

	{% if session.search_results.recordings %}
	<h3> Recordings </h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Recording</th>
					<th>Release (Type)</th>
					<th>Artist</th>
					<th>Release Date</th>
					<th>Territory</th>
				</tr>
			</thead>
			<tbody>
				{% for recording in session.search_results.recordings['recording-list'] %}
				<tr>
					<td><a href="{{url_for('search.recording_release_page', recording_title=recording.title, rec_id=recording.id)}}">
						{{ recording['title']}}</a></td>
					<td>{% if 'release-list' in recording %} {{ recording['release-list'][0]['title'] }} {% endif %} {% if 'release-event-list' in recording %}({{recording['release-event-list'][0]['primary-type']}}){% endif %}</td>
					<td>{{ recording['artist-credit'][0]['artist']['name'] }}</td>
					<td>{% if 'release-event-list' in recording %}{{ recording['release-event-list'][0]['date'] }}{% endif %}</td>
					<td>{% if 'release-event-list' in recording %}{{ recording['release-event-list'][0]['territory']}}{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>

		</table>
	
	
		</ul>
	{% endif %}
{% endif %}	
{% endblock %}



