{% extends "base.html" %}
{% block content %}
		<form action="{{ url_for('perform_query') }}" method="post" class="perform-query">
			<dl>

				<dt style="display:inline-block">Artist:
				<dd style="display:inline-block"><input type=text size=30 name="artist">
			</dl>
			<dl>
				<dt style="display:inline-block">Song:
				<dd style="display:inline-block"><input type=text size=30 name="song">
				<!-- <select name="query_type">
			        <option value="artists">Artist</option>
			        <option value="recordings">Song</option>
			        <option value="album">Album</option>        
			    </select> -->
				<dd><input type="submit" value="Search">
			</dl>
		</form>
{% endblock %}