{% extends "base.html" %}
{% block content %}

	{% if release_display_list %}
		{% for rel_display in release_display_list %}
		
			<div class="row">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							{% if rel_display['image'] %}
								<img src={{ rel_display['image'] }} width=100 height=100>
							{% else %}
								<img src={{ url_for('static', filename = 'album-art-missing.png') }} width=100 height=100>
							{% endif %}
							<a data-toggle="collapse" data-target="#rel{{ loop.index }}" href="#rel{{ loop.index }}">{{ album_title }}</a>
						</h4>
					</div>
					<div id="rel{{ loop.index }}" class="panel-collapse collapse">
					<div class="panel-body">	
					<div class="row">
					<!-- 	<div style="display:inline-block">
							{% if rel_display['image'] %}
								<img src={{ rel_display['image'] }} width=100 height=100>
							{% else %}
								<img src={{ url_for('static', filename = 'album-art-missing.png') }} width=100 height=100>
							{% endif %}
					
						</div> -->
						<div>
							<ul class="list-group">
							{% for track in rel_display['tracks'] %}
							<li class="list-group-item">
								{{ track['number'] }}. {{ track['recording']['title'] }}
						
								{% if track['recording']['artist-relation-list'] is defined %}
									<ul>
									{% for person in track['recording']['artist-relation-list'] %}
										<li>{{ person['type'] }} : {{ person['artist']['name'] }}</li>
									{% endfor %}
									</ul>
								{% else %}
									Whoops! Looks like some info is missing. If you are obliged you can fill it in at <a href="http://musicbrainz.org">MusicBrainz.org.</a>
								{% endif %}
					</li>

							{% endfor %}
						</ul>
						</div>
					</div>
					</div>	
				</div>
				
		</div>
	</div>

</div>
		{% endfor %}
	
	{% else %}
			<li><em>Unbelievable. No entries here so far</em>
	{% endif %}
	</ul>
{% endblock %}