{% extends "layout.html" %}
{% block body %}
	{% if display_results %}
			<h1>Albums</h1>
			<ul>
		{% for id, album in display_results.iteritems() %}
			<li><h2><a href="{{ url_for('parse_album_title', album_id=id, album_title=album) }}">{{ album }}</a></h2>
		{% endfor %}
			</ul>
	{% elif artist_results %}
			<h1>Artists</h1>
			<ul>
		{% for id, artist in artist_results['artist'].iteritems() %}
			<li><h2><a href="{{ url_for('return_artists', artist_id=id, artist_title=artist) }}">{{ artist }}</a></h2></li>
		{% endfor %}
			</ul>
	{% elif image and tracks %}
			<h2>{{ album_title }}</h2>
			<div style="display:inline-block">
		{% if image %}
			<img src={{ image }} width=200 height=200>
		{% else %}
			<img src={{ url_for('static', filename = 'album-art-missing.png') }} width=200 height=200>
		{% endif %}
			</div>
			<div style="display:inline-block">

		{% for track in tracks %}
			<div class="hover">
					{{ track['number'] }}. {{ track['recording']['title'] }}
					<ul class="track-info">
						<div>
							<p>
							{% if track['recording']['artist-relation-list'] is defined %}
								{% for person in track['recording']['artist-relation-list'] %}
									{{ person['type'] }} : {{ person['artist']['name'] }}</br>
								{% endfor %}
							{% else %}
								Whoops! Looks like some info is missing. If you are obliged you can fill it in at <a href="http://musicbrainz.org">MusicBrainz.org</a> Thanks!
							{% endif %}
							</p>
						</div>
					</ul>
			</div>
		{% endfor %}	
	</div>
	{% else %}
			<li><em>Unbelievable. No entries here so far</em>
	{% endif %}
	</ul>
{% endblock %}